{
    "branches": "main",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        "@semantic-release/npm",
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "npx tauri build"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "package.json",
                    "CHANGELOG.md"
                ],
                "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    {
                        "path": "src-tauri/target/release/ubigamesbackuptool.exe",
                        "name": "ubigamesbackuptool-${nextRelease.gitTag}.exe"
                    },
                    {
                        "path": "src-tauri/target/release/bundle/**"
                    }
                ]
            }
        ],
        [
            "./scripts/plugin/update-release.cjs",
            {
                "productName": "ubigamesbackuptool",
                "repoName": "UbiGamesBackupTool",
                "userName": "lzjyzq2"
            }
        ]
    ]
}